<form
  class="p-fluid"
  [formGroup]="form"
  (ngSubmit)="saveChange()"
>
  <p-card header="Thông tin" styleClass="mb-4">
    <div class="formgrid grid">
      <div class="field col-12 md:col-6">
        <label for="name" class="font-medium">
          Tên hệ thống <span class="text-red-500">*</span>
        </label>
        <input
          id="name"
          type="text"
          pInputText
          [pKeyFilter]="noSpecial"
          formControlName="name"
        />
        <app-validation-message
          [entityForm]="form"
          fieldName="name"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>

      <div class="field col-12 md:col-6">
        <label for="displayName" class="font-medium">
          Tên hiển thị <span class="text-red-500">*</span>
        </label>
        <input
          id="displayName"
          type="text"
          pInputText
          [pKeyFilter]="noSpecial"
          formControlName="displayName"
        />
        <app-validation-message
          [entityForm]="form"
          fieldName="displayName"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <button
        pButton
        type="submit"
        label="{{ saveBtnName }}"
        class="p-button-rounded"
        [disabled]="!form.valid || btnDisabled"
      ></button>
    </ng-template>

    <p-progressSpinner
      *ngIf="blockedPanelDetail"
      styleClass="absolute top-1/3 left-1/2"
      strokeWidth="2"
      animationDuration=".5s"
    ></p-progressSpinner>
  </p-card>
</form>
